/*	4.1.8 - Feature CSS	*/
.feature {
	text-align: center;
	& img {
		margin-bottom: 35px;
	}
	& .title {
		font-weight: 400;
		margin-bottom: 15px;
	}
	& p {
		max-width: 85%;
		margin: auto;
	}
	// Responsive
	@media #{$tablet-device} {
		& .title {
			font-size: 24px;
		}
		& p {
			max-width: none;
		}
	}
}