{% extends "base.html"%}
{% block body %} 
{% load static %}


    <div class="main-wrapper">

        <!--Header Section Start-->
        <div class="header-section d-none d-lg-block">

            <!--Header Top Start-->
            <div class="header-top">
                <div class="container">
                    <div class="row">

                        <!--Left Start-->
                        <div class="col-lg-6">
                            <div class="header-top-left">
                                <div class="header-top-left-info">
                                    <p><i class="fa fa-envelope-o"></i><a href="mailto:contact@yoursite.com">contact@yoursite.com</a></p>
                                    <p><i class="fa fa-phone"></i><a href="#">1.800.123.4569</a></p>
                                </div>
                            </div>
                        </div>
                        <!--Left End-->

                        <!--Right Start-->
                        <div class="col-lg-6">
                            <div class="header-top-right">
                                <p class="header-top-right-text">Add an interesting message for your visitors</p>
                                <a href="http://localhost:8000/cart" class="header-top-right-cart">
                                    <i class="ion-bag" data-count="2"></i> $43.00
                                </a>
                            </div>
                        </div>
                        <!--Right End-->

                    </div>
                </div>
            </div>
            <!--Header Top End-->

            <!--Header Middle Start-->
            <div class="header-middle">
                <div class="row no-gutters">

                    <!--Left Start-->
                    <div class="header-middle-left col-auto">
                        <div class="header-middle-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-vimeo"></i></a>
                        </div>
                    </div>
                    <!--Left End-->

                    <!--Center Start-->
                    <div class="header-middle-center col">
                        <div class="header-logo">
                            <a href="http://localhost:8000"><img src="{% static 'assets/images/logo/logo_1.png' %}" alt="Lawyer Attorneys"></a>
                        </div>
                    </div>
                    <!--Center End-->

                    <!--Right Start-->
                    <div class="header-middle-right col-auto">
                        <div class="header-middle-free-case">
                            <a href="http://localhost:8000/contact"><i class="pe-7s-culture"></i>FREE CASE EVALUATION</a>
                        </div>
                    </div>
                    <!--Right End-->

                </div>
            </div>
            <!--Header Middle End-->

            <!--Header Bottom Start-->
            <div class="header-bottom">
                <div class="container">
                    <div class="row">

                        <!--Left Start-->
                        <div class="col">
                            <div class="primary-menu">
                                <nav>
                                    <ul>
                                        <li class="menu-item-has-children"><a href="http://localhost:8000">Home</a>
                                            <ul class="sub-menu">
                                                <li><a href="http://localhost:8000">Homepage 01</a></li>
                                                
                                            </ul>
                                        </li>
                                        
                                       
                                        <li class="menu-item-has-children"><a href="#">Our Firm</a>
                                            <ul class="sub-menu">
                                                <li><a href="http://localhost:8000/attorneys">Attorneys</a></li>
                                                
                                            </ul>
                                        </li>
                                        
                                        <li class="menu-item-has-children"><a href="http://localhost:8000/shop">Shop</a>
                                            <ul class="sub-menu">
                                                <li><a href="http://localhost:8000/shop">Shop</a></li>
                                                <li><a href="http://localhost:8000/productdetail">Product Details</a></li>
                                                <li><a href="http://localhost:8000/cart">Shopping Cart</a></li>
                                                
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">Pages</a>
                                            <ul class="sub-menu">
                                                <li><a href="http://localhost:8000/about">About us</a></li>
                                                <li><a href="http://localhost:8000/contact">Contact us 1</a></li>
                                                <li><a href="http://localhost:8000/faq">F.A.Q</a></li>
                                                
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <!--Left End-->

                        <!--Right Start-->
                        <div class="col-auto">
                            <button class="header-bottom-search-toggle header-search-toggle" data-target="#fullscreen-search-overlay"><i class="fa fa-search"></i></button>
                        </div>
                        <!--Right End-->

                    </div>
                </div>
            </div>
            <!--Header Bottom End-->

        </div>
        <!--Header Section End-->


       

        <!--Offcanvas Section Start-->
        <div id="offcanvas" class="offcanvas-section">
            <button class="offcanvas-close" data-target="#offcanvas">&times;</button>
            <div class="offcanvas-wrap">
                <div class="inner">

                    <div class="offcanvas-menu">
                        <nav>
                            <ul>
                                <li class="menu-item-has-children"><a href="http://localhost:8000/">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="http://localhost:8000/">Homepage 01</a></li>
                                        <li><a href="index-2.html">Homepage 02</a></li>
                                        <li><a href="index-3.html">Homepage 03</a></li>
                                        <li><a href="index-4.html">Homepage 04</a></li>
                                        <li><a href="index-5.html">Homepage 05</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="practice-areas-1.html">Practice Areas</a>
                                    <ul class="sub-menu">
                                        <li><a href="practice-areas-1.html">Practice Areas 01</a></li>
                                        <li><a href="practice-areas-2.html">Practice Areas 02</a></li>
                                        <li><a href="practice-areas-3.html">Practice Areas 03</a></li>
                                        <li><a href="practice-areas-4.html">Practice Areas 04</a></li>
                                        <li><a href="practice-bank-financial.html">Bank & Financial</a></li>
                                        <li><a href="practice-capital-market.html">Capital Market</a></li>
                                        <li><a href="practice-car-accident.html">Car Accident</a></li>
                                        <li><a href="practice-corporate.html">Corporate</a></li>
                                        <li><a href="practice-employment-law.html">Employment Law</a></li>
                                        <li><a href="practice-family-law.html">Family Law</a></li>
                                        <li><a href="practice-personal-injury.html">Personal Injury</a></li>
                                    </ul>
                                </li>
                                <li><a href="case-results.html">Case Results</a></li>
                                <li class="menu-item-has-children"><a href="#">Our Firm</a>
                                    <ul class="sub-menu">
                                        <li><a href="http://localhost:8000/attorneys">Attorneys</a></li>
                                        <li><a href="http://localhost:8000/singleattorney">Single Attorney</a></li>
                                        <li><a href="honnors-and-awards.html">Honnors And Awards</a></li>
                                        <li><a href="careers.html">Careers</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="news.html">Legal News</a>
                                    <ul class="sub-menu">
                                        <li><a href="news.html">News</a></li>
                                        <li><a href="news-2-column.html">News Two Columns</a></li>
                                        <li><a href="news-details.html">News Details</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="shop.html">Shop</a>
                                    <ul class="sub-menu">
                                        <li><a href="shop.html">Shop</a></li>
                                        <li><a href="shop-2-column.html">Shop 2 Column</a></li>
                                        <li><a href="product-details.html">Product Details</a></li>
                                        <li><a href="cart.html">Shopping Cart</a></li>
                                        <li><a href="checkout.html">Checkout</a></li>
                                        <li><a href="login-register.html">Login & Register</a></li>
                                        <li><a href="my-account.html">My Account</a></li>
                                        <li><a href="wishlist.html">Wishlist</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="http://localhost:8000/about">About us</a></li>
                                        <li><a href="http://localhost:8000/contact">Contact us 1</a></li>
                                        <li><a href="contac">Contact us 2</a></li>
                                        <li><a href="http://localhost:8000/faq">F.A.Q</a></li>
                                        <li><a href="gallery.html">Gallery</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="offcanvas-info mt-auto">
                        <p><i class="fa fa-envelope-o"></i><a href="mailto:ebulzade@inbox.ru">Send mail to me</a></p>
                        <p><i class="fa fa-phone"></i><a href="#">1.800.123.4569</a></p>
                    </div>
                    <div class="offcanvas-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-vimeo"></i></a>
                    </div>

                </div>
            </div>
        </div>
        <!--Offcanvas Section End-->
        <!--OffCanvas Overlay-->
        <div class="offcanvas-overlay"></div>

        <!--Fullscreen Search Overlay Start-->
        <div id="fullscreen-search-overlay">
            <div id="fullscreen-search-form">
                <button class="fullscreen-search-close" data-target="#fullscreen-search-overlay"><i class="fa fa-close"></i></button>
                <form action="#">
                    <input type="text" placeholder="Search...">
                </form>
                <p class="search-note">* Type a keyword then press Enter</p>
            </div>
        </div>
        <!--Fullscreen Search Overlay End-->

        <!-- Page Banner Section Start -->
        <div class="page-banner-section section">
            <div class="container">

                <!--Page Title Container Start-->
                <div class="page-title-container">
                    <div class="inner">

                        <h1 class="page-title">Contact us 2</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="http://localhost:8000/">Home</a></li>
                            <li>Contact us 2</li>
                        </ul>

                    </div>
                </div>
                <!--Page Title Container End-->

            </div>
        </div><!-- Page Banner Section End -->

        <!--Contact Information & Form Section Start-->
        <div class="section section-padding">
            <div class="container">
                <div class="row mbn-30">

                    <!--Contact Information Start-->
                    <div class="col-lg-4 col-12 mb-30">

                        <div class="section-title section-title-left">
                            <h2 class="title">KEEP IN TOUCH</h2>
                        </div>

                        <!--Contact Information List Start-->
                        <ul class="contact-info-list">
                            <li><i class="fa fa-map-marker"></i> 14 Tottenham Road, London, England.</li>
                            <li><i class="fa fa-phone"></i> (102) 6666 8888</li>
                            <li><i class="fa fa-envelope"></i> <a href="#">info@zooka.io</a></li>
                            <li><i class="fa fa-fax"></i> (102) 8888 9999</li>
                            <li><i class="fa fa-clock-o"></i> Mon – Sat: 9:00 – 18:00</li>
                        </ul>
                        <!--Contact Information List End-->

                        <!--Contact Socail Start-->
                        <div class="footer-top-socail">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-vimeo"></i></a>
                        </div>
                        <!--Contact Socail End-->

                    </div>
                    <!--Contact Information End-->

                    <!--Contact Form Start-->
                    <div class="col-lg-8 col-12 mb-30">

                        <div class="section-title section-title-left">
                            <h2 class="title">FULFIL THE FORM BELOW</h2>
                        </div>

                        <!--Comment Form Start-->
                        <div class="contact-form">
                            <form id="contact-form" action="{% static 'assets/php/contact-mail.php" method="post">
                                <div class="row mbn-10">
                                    <div class="col-12 mb-10"><input type="text" name="name" placeholder="Your Name*"></div>
                                    <div class="col-12 mb-10"><input type="email" name="email" placeholder="Your Email*"></div>
                                    <div class="col-12 mb-10"><textarea rows="2" name="message" placeholder="Case Details"></textarea></div>
                                    <div class="col-12 mb-10"><input class="btn btn-primary w-100" type="submit" value="SUBMIT"></div>
                                </div>
                            </form>
                            <p class="form-message mt-15 d-none"></p>
                        </div>
                        <!--Comment Form End-->

                    </div>
                    <!--Contact Form End-->

                </div>
            </div>
        </div>
        <!--Contact Information & Form Section End-->

        <!--Contact Map Section Start-->
        <div class="section">
            <div id="contact-map" class="contact-map"></div>
        </div>
        <!--Contact Map Section End-->

        <div class="newsletter-socail-section section" data-bg-image="{% static 'assets/images/bg/newsletter-bg.png">
            <div class="container">
                <div class="row justify-content-between align-items-center mbn-30">

                    <!--Newsletter Start-->
                    <div class="col-lg-auto col-12 mb-30">
                        <div class="newsletter-form">
                            <form id="mc-form" class="mc-form">
                                <input id="mc-email" autocomplete="off" type="email" placeholder="Enter your e-mail address">
                                <input id="mc-submit" class="btn btn-primary" type="submit" value="SUBSCRIBE">
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success text-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error text-danger"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->
                        </div>
                    </div>
                    <!--Newsletter End-->

                    <!--Social Start-->
                    <div class="d-flex flex-wrap align-items-center col-lg-auto col-12 mb-25">

                        <h3 class="text-white text-uppercase mr-3 mb-0 mb-5 mb-sm-0">Social</h3>
                        <div class="footer-top-socail mb-5 mb-sm-0">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-vimeo"></i></a>
                        </div>
                    </div>
                    <!--Social End-->

                </div>
            </div>
        </div>

        <!--Footer Section Start-->
        <div class="footer-section section">
            <div class="container">
                <div class="footer-widget-area row">

                    <!--Footer Widget Start-->
                    <div class="footer-widget col-lg-3 col-md-6 col-12">
                        <h4 class="footer-widget-title">ABOUT US</h4>
                        <div class="footer-widget-text">
                            <p>The Lawyer Attorneys Firm is a general practice firm that has served individuals and business for over twenty years.</p>
                            <p>We are dedicated lawyers who work efficiently and hard to provide you the best law service.</p>
                        </div>
                    </div>
                    <!--Footer Widget End-->

                    <!--Footer Widget Start-->
                    <div class="footer-widget col-lg-3 col-md-6 col-12">
                        <h4 class="footer-widget-title">EXPLORE OUR SITE</h4>
                        <ul class="footer-widget-link">
                            <li><a href="practice-areas-1.html">Practice Areas</a></li>
                            <li><a href="case-results.html">Case Results</a></li>
                            <li><a href="http://localhost:8000/about">Our Firm</a></li>
                            <li><a href="careers.html">Careers</a></li>
                            <li><a href="http://localhost:8000/faq">F.A.Q</a></li>
                            <li><a href="http://localhost:8000/ontact">Contact Us</a></li>
                        </ul>
                    </div>
                    <!--Footer Widget End-->

                    <!--Footer Widget Start-->
                    <div class="footer-widget col-lg-3 col-md-6 col-12">
                        <h4 class="footer-widget-title">KEEP IN TOUCH</h4>
                        <div class="footer-widget-text">
                            <p><i class="fa fa-map-marker"></i> 14 Tottenham Road, London, England.</p>
                            <p><i class="fa fa-phone"></i> (102) 6666 8888</p>
                            <p><i class="fa fa-envelope"></i> <a href="mailto:info@demo.com">info@demo.com</a></p>
                            <p><i class="fa fa-fax"></i> (102) 8888 9999</p>
                            <p><i class="fa fa-clock-o"></i> Mon - Sat: 9:00 - 18:00</p>
                        </div>
                    </div>
                    <!--Footer Widget End-->

                    <!--Footer Widget Start-->
                    <div class="footer-widget col-lg-3 col-md-6 col-12">
                        <h4 class="footer-widget-title">LATEST POSTS</h4>
                        <ul class="footer-widget-link">
                            <li><a href="news-details.html">EB-5 Legislation Pending</a></li>
                            <li><a href="news-details.html">Personal Injury Case Settled</a></li>
                            <li><a href="news-details.html">3 Year Old Injured In Restaurant</a></li>
                            <li><a href="news-details.html">Audio Post</a></li>
                            <li><a href="news-details.html">A Link Post</a></li>
                            <li><a href="news-details.html">A Quote Post</a></li>
                        </ul>
                    </div>
                    <!--Footer Widget End-->

                </div>
            </div>
        </div>
        <!--Footer Section End-->

        <!--Copyright Section Start-->
        <div class="copyright-section section">
            <div class="container">
                <div class="row justify-content-between">

                    <!--Left Start-->
                    <div class="copyright-content text-center col-lg-auto col-12">
                        <p>Made by <a href="https://themeforest.net/user/bootxperts/portfolio">BootXperts</a></p>
                    </div>
                    <!--Left End-->

                    <!--Right Start-->
                    <div class="copyright-content text-center col-lg-auto col-12">
                        <p>&copy; Copyrights <span class="text-primary">Edwards</span>, Inc. All rights reserved.</p>
                    </div>
                    <!--Right End-->

                </div>
            </div>
        </div>
        <!--Copyright Section End-->


    </div>

{% endblock %}
