{% extends "base.html"%}
{% block body %} 
{% load static %}


    <div class="main-wrapper">
 <!--Header Section Start-->
 <div class="header-section d-none d-lg-block">

    <!--Header Top Start-->
    <div class="header-top">
        <div class="container">
            <div class="row">

                <!--Left Start-->
                <div class="col-lg-6">
                    <div class="header-top-left">
                        <div class="header-top-left-info">
                            <p><i class="fa fa-envelope-o"></i><a href="mailto:contact@yoursite.com">contact@yoursite.com</a></p>
                            <p><i class="fa fa-phone"></i><a href="#">1.800.123.4569</a></p>
                        </div>
                    </div>
                </div>
                <!--Left End-->

                <!--Right Start-->
                <div class="col-lg-6">
                    <div class="header-top-right">
                        <p class="header-top-right-text">Add an interesting message for your visitors</p>
                        <a href="http://localhost:8000/cart" class="header-top-right-cart">
                            <i class="ion-bag" data-count="2"></i> $43.00
                        </a>
                    </div>
                </div>
                <!--Right End-->

            </div>
        </div>
    </div>
    <!--Header Top End-->

    <!--Header Middle Start-->
    <div class="header-middle">
        <div class="row no-gutters">

            <!--Left Start-->
            <div class="header-middle-left col-auto">
                <div class="header-middle-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                    <a href="#"><i class="fa fa-vimeo"></i></a>
                </div>
            </div>
            <!--Left End-->

            <!--Center Start-->
            <div class="header-middle-center col">
                <div class="header-logo">
                    <a href="http://localhost:8000"><img src="{% static 'assets/images/logo/logo_1.png' %}" alt="Lawyer Attorneys"></a>
                </div>
            </div>
            <!--Center End-->

            <!--Right Start-->
            <div class="header-middle-right col-auto">
                <div class="header-middle-free-case">
                    <a href="http://localhost:8000/contact"><i class="pe-7s-culture"></i>FREE CASE EVALUATION</a>
                </div>
            </div>
            <!--Right End-->

        </div>
    </div>
    <!--Header Middle End-->

    <!--Header Bottom Start-->
    <div class="header-bottom">
        <div class="container">
            <div class="row">

                <!--Left Start-->
                <div class="col">
                    <div class="primary-menu">
                        <nav>
                            <ul>
                                <li class="menu-item-has-children"><a href="http://localhost:8000">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="http://localhost:8000">Homepage 01</a></li>
                                        
                                    </ul>
                                </li>
                                
                               
                                <li class="menu-item-has-children"><a href="#">Our Firm</a>
                                    <ul class="sub-menu">
                                        <li><a href="http://localhost:8000/attorneys">Attorneys</a></li>
                                        
                                    </ul>
                                </li>
                                
                                <li class="menu-item-has-children"><a href="http://localhost:8000/shop">Shop</a>
                                    <ul class="sub-menu">
                                        <li><a href="http://localhost:8000/shop">Shop</a></li>
                                        <li><a href="http://localhost:8000/productdetail">Product Details</a></li>
                                        <li><a href="http://localhost:8000/cart">Shopping Cart</a></li>
                                        
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="http://localhost:8000/about">About us</a></li>
                                        <li><a href="http://localhost:8000/contact">Contact us 1</a></li>
                                        <li><a href="http://localhost:8000/faq">F.A.Q</a></li>
                                        
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!--Left End-->

                <!--Right Start-->
                <div class="col-auto">
                    <button class="header-bottom-search-toggle header-search-toggle" data-target="#fullscreen-search-overlay"><i class="fa fa-search"></i></button>
                </div>
                <!--Right End-->

            </div>
        </div>
    </div>
    <!--Header Bottom End-->

</div>
<!--Header Section End-->


        


        <!--Offcanvas Section Start-->
        <div id="offcanvas" class="offcanvas-section">
            <button class="offcanvas-close" data-target="#offcanvas">&times;</button>
            <div class="offcanvas-wrap">
                <div class="inner">

                    <div class="offcanvas-menu">
                        <nav>
                            <ul>
                                <li class="menu-item-has-children"><a href="http://localhost:8000/">Home</a>
                                    <ul class="sub-menu">
                                        <li><a href="http://localhost:8000">Homepage 01</a></li>
                                        <li><a href="index-2">Homepage 02</a></li>
                                        <li><a href="index-3">Homepage 03</a></li>
                                        <li><a href="index-4">Homepage 04</a></li>
                                        <li><a href="index-5">Homepage 05</a></li>
                                    </ul>
                                </li>
                                
                                <li><a href="case-results">Case Results</a></li>
                                <li class="menu-item-has-children"><a href="#">Our Firm</a>
                                    <ul class="sub-menu">
                                        <li><a href="http://localhost:8000/attorneys">Attorneys</a></li>
                                        <li><a href="http://localhost:8000/singleattorney">Single Attorney</a></li>
                                        <li><a href="honnors-and-awards">Honnors And Awards</a></li>
                                        <li><a href="careers">Careers</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="news">Legal News</a>
                                    <ul class="sub-menu">
                                        <li><a href="news">News</a></li>
                                        <li><a href="news-2-column">News Two Columns</a></li>
                                        <li><a href="news-details">News Details</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="shop">Shop</a>
                                    <ul class="sub-menu">
                                        <li><a href="http://localhost:8000/shop">Shop</a></li>
                                        <li><a href="shop-2-column">Shop 2 Column</a></li>
                                        <li><a href="http://localhost:8000/productdetail">Product Details</a></li>
                                        <li><a href="http://localhost:8000/cart">Shopping Cart</a></li>
                                        <li><a href="checkout">Checkout</a></li>
                                        <li><a href="login-register">Login & Register</a></li>
                                        <li><a href="my-account">My Account</a></li>
                                        <li><a href="wishlist">Wishlist</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children"><a href="#">Pages</a>
                                    <ul class="sub-menu">
                                        <li><a href="http://localhost:8000/about">About us</a></li>
                                        <li><a href="http://localhost:8000/contact">Contact us 1</a></li>
                                        <li><a href="contact-us-2">Contact us 2</a></li>
                                        <li><a href="http://localhost:8000/faq">F.A.Q</a></li>
                                        <li><a href="gallery">Gallery</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>

                    <div class="offcanvas-info mt-auto">
                        <p><i class="fa fa-envelope-o"></i><a href="mailto:contact@yoursite.com">contact@yoursite.com</a></p>
                        <p><i class="fa fa-phone"></i><a href="#">1.800.123.4569</a></p>
                    </div>
                    <div class="offcanvas-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-vimeo"></i></a>
                    </div>

                </div>
            </div>
        </div>
        <!--Offcanvas Section End-->
        <!--OffCanvas Overlay-->
        <div class="offcanvas-overlay"></div>

        <!--Fullscreen Search Overlay Start-->
        <div id="fullscreen-search-overlay">
            <div id="fullscreen-search-form">
                <button class="fullscreen-search-close" data-target="#fullscreen-search-overlay"><i class="fa fa-close"></i></button>
                <form action="#">
                    <input type="text" placeholder="Search...">
                </form>
                <p class="search-note">* Type a keyword then press Enter</p>
            </div>
        </div>
        <!--Fullscreen Search Overlay End-->

        <!--Hero Slider Section Start-->
        <div class="hero-slider section">

            <!--Hero Item Start-->
            <div class="hero-item hero-bg-1">

                <!--Hero Content Start-->
                <div class="hero-content hero-content-1">
                    <span class="content-bg-overlay wow fadeInUp" data-wow-delay="0.5s"></span>
                    <h4 class="sub-title wow fadeInLeft" data-wow-delay="1.2s">Lawyer Attorneys is the best</h4>
                    <h2 class="title wow fadeInUp" data-wow-delay="1.7s">Law firm in london</h2>
                    <p class="desc wow fadeInDown" data-wow-delay="2.2s">Human & Rights has been helping the seriously injured.</p>
                    <a href="http://localhost:8000/about" class="btn btn-primary wow fadeInUp" data-wow-delay="2.7s">Learn More</a>
                </div>
                <!--Hero Content End-->

            </div>
            <!--Hero Item End-->

            <!--Hero Item Start-->
            <div class="hero-item hero-bg-2">

                <!--Hero Content Start-->
                <div class="hero-content hero-content-2">
                    <span class="content-bg-overlay wow fadeInUp" data-wow-delay="0.5s"></span>
                    <h2 class="title wow fadeInLeft" data-wow-delay="1s">Experienced <span>Attorneys</span></h2>
                    <p class="desc wow fadeInRight" data-wow-delay="1.5s">Human & Rights has been helping the seriously injured.</p>
                    <a href="http://localhost:8000/about" class="btn btn-primary wow fadeInUp" data-wow-delay="2s">Learn More</a>
                </div>
                <!--Hero Content End-->

            </div>
            <!--Hero Item End-->

            <!--Hero Item Start-->
            <div class="hero-item hero-bg-3">

                <!--Hero Content Start-->
                <div class="hero-content hero-content-3">
                    <h2 class="title wow zoomIn" data-wow-delay="0.5s">London law <span>firm</span>, <br><span>Works</span> for justice</h2>
                    <a href="http://localhost:8000/about" class="btn btn-primary wow fadeInUp" data-wow-delay="1s">Learn More</a>
                </div>
                <!--Hero Content End-->

            </div>
            <!--Hero Item End-->

        </div>
        <!--Hero Slider Section End-->

        <!--Intro Section Start-->
        <div class="section bg-primary-light">
            <div class="container">
                <div class="row justify-content-between">

                    <div class="col-lg-auto col-12">
                        <div class="intro-icon">
                            <i class="tmlawyer-users"></i>
                        </div>
                    </div>

                    <div class="col align-self-center">
                        <div class="intro-content">
                            <h2 class="title">Pushing your case done is what we are responsible for.</h2>
                        </div>
                    </div>

                    <div class="col-lg-auto col-12">
                        
                    </div>

                </div>
            </div>
        </div>
        <!--Intro Section End-->

        
        <!--CTA Section Start-->
        <div class="cta-section-1 section" data-bg-image="{% static 'assets/images/bg/cta-bg-1.jpg">
            <div class="container">
                <div class="row">

                   
                </div>
            </div>
        </div>
        <!--CTA Section End-->

        <!--About Us Section Start-->
        <div class="section">
            <div class="row no-gutters fix">

                <!--About Feature Wrap (News/Blog) Start-->
                <div class="col-lg-6 col-12 home-feature-wrap border-right">
                    <div class="row no-gutters">

                        <!--About Feature (News/Blog) Start-->
                        <div class="col-sm-6 col-12">
                            <div class="news2">
                                <div class="inner">

                                    <div class="news2-media">
                                        <div class="image"><img src="{% static 'assets/images/others/about-feature-1.jpg' %}" alt=""></div>
                                        <a href="#" class="read-more">read more</a>
                                        <a href="#" class="external-link"><i class="fa fa-external-link"></i></a>
                                    </div>

                                    <div class="news2-content">
                                        <h3 class="title h3">Get Legal Advice</h3>
                                        <p>Post a question and get free legal advice direct from our experienced lawyers as soon as possible.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--About Feature (News2/Blog) End-->

                        <!--About Feature (News/Blog) Start-->
                        <div class="col-sm-6 col-12">
                            <div class="news2">
                                <div class="inner">

                                    <div class="news2-media">
                                        <div class="image"><img src="{% static 'assets/images/others/about-feature-2.jpg' %}" alt=""></div>
                                        <a href="#" class="read-more">read more</a>
                                        <a href="#" class="external-link"><i class="fa fa-external-link"></i></a>
                                    </div>

                                    <div class="news2-content">
                                        <h3 class="title h3">Get Document Reviewing</h3>
                                        <p>Get a thorough review of our legal documents with the fee of $0 per document.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--About Feature (News2/Blog) End-->

                    </div>
                </div>
                <!--About Feature Wrap (News/Blog) End-->

                <!--About Content Start-->
                <div class="col-lg-6 col-12 align-self-center section-padding">
                    <div class="row">
                        <div class="col-xl-8 col-lg-11 col-md-10 col-11 mx-auto">

                            <div class="section-title">
                                <h2 class="title">LAWYERS ATTORNEYS</h2>
                            </div>

                            <div class="about-content text-center">
                                <p>The Lawyer Attorneys Firm is a general practice firm that has been serving individuals and business for over twenty years.</p>
                                <p>Our personal injury lawyers are dedicated solely to representing people who have experienced the catastrophic injuries</p>
                                <a href="http://localhost:8000/about" class="btn btn-primary">about us</a>
                            </div>

                        </div>
                    </div>
                </div>
                <!--About Content End-->

            </div>
        </div>
        <!--About Us Section End-->

        <!--Evaluation Section Start-->
        <div class="section" data-bg-image="{% static 'assets/images/bg/evaluation-bg-1.jpg">
            <div class="container">
                <div class="row">

                    <!--Evaluation Form Start-->
                    <div class="col-lg-6 col-12 section-padding">

                        <div class="section-title">
                            <h2 class="title">FREE CASE EVALUATION</h2>
                        </div>

                        <form id="evaluation-form" action="{% static 'assets/php/evaluation-mail.php' %}" method="post">
                            <div class="row mbn-10">
                                <div class="col-12 mb-10"><input type="text" name="name" placeholder="Your Name*"></div>
                                <div class="col-12 mb-10"><input type="email" name="email" placeholder="Your Email*"></div>
                                <div class="col-12 mb-10"><input type="text" name="subject" placeholder="Subject*"></div>
                                <div class="col-12 mb-10"><textarea rows="2" name="casedetails" placeholder="Case Details"></textarea></div>
                                <div class="col-12 mb-10"><input class="btn btn-primary w-100" type="submit" value="SUBMIT EVALUATION"></div>
                            </div>
                        </form>
                        <p class="form-message mt-15 d-none"></p>

                    </div>
                    <!--Evaluation Form End-->

                    <!--Evaluation Image Start-->
                    <div class="col-lg-6 col-12 align-self-end">
                        <img src="{% static 'assets/images/others/careers-1.png' %}" alt="">
                    </div>
                    <!--Evaluation Image End-->

                </div>
            </div>
        </div>
        <!--Evaluation Section End-->

        <!--Attorneys Section Start-->
        <div class="section section-padding">
            <div class="container">

                <div class="section-title">
                    <h2 class="title">OUR VERSATILE ATTORNEYS</h2>
                </div>

                <div class="row mbn-30">

                    <!--Attorney Start-->
                    <div class="col-lg-4 col-sm-6 col-12 mb-30">
                        <div class="team text-center">
                            <a href="http://localhost:8000/singleattorney" class="team-image"><img src="{% static 'assets/images/team/team-1.jpg' %}" alt=""></a>
                            <div class="team-content">
                                <h3 class="name">Kellan Dust</h3>
                                <span class="title">BANK & FINANCIAL LAWYER</span>
                                <p class="desc">Kellan Dust is known as a tenacious fighter who protects his client’s rights as though they are his own.</p>
                                <a href="http://localhost:8000/singleattorney" class="read-more">Read Profile</a>
                            </div>
                        </div>
                    </div>
                    <!--Attorney End-->

                    <!--Attorney Start-->
                    <div class="col-lg-4 col-sm-6 col-12 mb-30">
                        <div class="team text-center">
                            <a href="http://localhost:8000/singleattorney" class="team-image"><img src="{% static 'assets/images/team/team-2.jpg' %}" alt=""></a>
                            <div class="team-content">
                                <h3 class="name">Laura Griffin</h3>
                                <span class="title">FAMILY LAWYER</span>
                                <p class="desc">Laura Griffin has a track record of recovery in civil matters. She is a protector of individual rights.</p>
                                <a href="http://localhost:8000/singleattorney" class="read-more">Read Profile</a>
                            </div>
                        </div>
                    </div>
                    <!--Attorney End-->

                    <!--Attorney Start-->
                    <div class="col-lg-4 col-sm-6 col-12 mb-30">
                        <div class="team text-center">
                            <a href="http://localhost:8000/singleattorney" class="team-image"><img src="{% static 'assets/images/team/team-3.jpg' %}" alt=""></a>
                            <div class="team-content">
                                <h3 class="name">Joseph Steward</h3>
                                <span class="title">BUSINESS LAWYER</span>
                                <p class="desc">Joseph Steward is an experienced lawyer who has many years dealing with business cases.</p>
                                <a href="http://localhost:8000/singleattorney" class="read-more">Read Profile</a>
                            </div>
                        </div>
                    </div>
                    <!--Attorney End-->

                </div>

            </div>
        </div>
        <!--Attorneys Section End-->

        <!--Testimonial Section Start-->
        <div class="section section-padding" data-bg-image="{% static 'assets/images/bg/testimonial-bg-1.jpg">
            <div class="container">

                <div class="section-title">
                    <h2 class="title text-white">TESTIMONIALS</h2>
                </div>

                <div class="testimonial-slider row">

                    <!--Testimonial Start-->
                    <div class="col">
                        <div class="testimonial">

                            <!--Testimonial Avatar-->
                            <div class="avatar">
                                <img src="{% static 'assets/images/testimonial/testimonial-1.jpg' %}" alt="">
                            </div>

                            <!--Testimonial Content-->
                            <div class="content">
                                <ul class="meta">
                                    <li class="author">Anna Track</li>
                                    <li>CUSTOMER</li>
                                </ul>
                                <p>“I’ve been happy with the services provided by Lawyer Attorneys Firm. Josh Tim did a great job! He returned my calls quickly, and answered all my questions.”</p>
                            </div>

                        </div>
                    </div>
                    <!--Testimonial End-->

                    <!--Testimonial Start-->
                    <div class="col">
                        <div class="testimonial">

                            <!--Testimonial Avatar-->
                            <div class="avatar">
                                <img src="{% static 'assets/images/testimonial/testimonial-2.jpg' %}" alt="">
                            </div>

                            <!--Testimonial Content-->
                            <div class="content">
                                <ul class="meta">
                                    <li class="author">Robert Frank</li>
                                    <li>CUSTOMER</li>
                                </ul>
                                <p>“Sarah was really patient to listen to all my problems and try her best to give me good advices as well as effective solutions for my case. Thanks to her, I won the case.”</p>
                            </div>

                        </div>
                    </div>
                    <!--Testimonial End-->

                </div>

            </div>
        </div>
        <!--Testimonial Section End-->

        <!--CLient/Partner Section Start-->
        <div class="section section-padding bg-primary-light">
            <div class="container">
                <div class="partner-slider row">

                    <!--Partner Start-->
                    <div class="col">
                        <div class="partner">
                            <img src="{% static 'assets/images/partner/partner-1.png' %}" alt="">
                            <span class="hover-content">Partner 01</span>
                        </div>
                    </div>
                    <!--Partner End-->

                    <!--Partner Start-->
                    <div class="col">
                        <div class="partner">
                            <img src="{% static 'assets/images/partner/partner-2.png' %}" alt="">
                            <span class="hover-content">Partner 02</span>
                        </div>
                    </div>
                    <!--Partner End-->

                    <!--Partner Start-->
                    <div class="col">
                        <div class="partner">
                            <img src="{% static 'assets/images/partner/partner-3.png' %}" alt="">
                            <span class="hover-content">Partner 03</span>
                        </div>
                    </div>
                    <!--Partner End-->

                    <!--Partner Start-->
                    <div class="col">
                        <div class="partner">
                            <img src="{% static 'assets/images/partner/partner-4.png' %}" alt="">
                            <span class="hover-content">Partner 04</span>
                        </div>
                    </div>
                    <!--Partner End-->

                    <!--Partner Start-->
                    <div class="col">
                        <div class="partner">
                            <img src="{% static 'assets/images/partner/partner-5.png' %}" alt="">
                            <span class="hover-content">Partner 05</span>
                        </div>
                    </div>
                    <!--Partner End-->

                    <!--Partner Start-->
                    <div class="col">
                        <div class="partner">
                            <img src="{% static 'assets/images/partner/partner-6.png' %}" alt="">
                            <span class="hover-content">Partner 06</span>
                        </div>
                    </div>
                    <!--Partner End-->

                </div>
            </div>
        </div>
        <!--CLient/Partner Section End-->

        <!--Funfact & News Section Start-->
        <div class="section fix">
            <div class="row no-gutters">

                <!--Funfact Section Start-->
                <div class="col-lg-6 col-12 section-padding">

                    <div class="section-title">
                        <h2 class="title">SOME FACTS</h2>
                    </div>

                    <div class="row mbn-30">

                        <!--Funfact Start-->
                        <div class="col-lg-6 col-md-3 col-6 mb-30">
                            <div class="funfact text-center">
                                <span class="icon"><i class="fa fa-users"></i></span>
                                <span class="number"><span class="counter">123000</span>+</span>
                                <h6 class="title">TRUSTED CLIENTS</h6>
                            </div>
                        </div>
                        <!--Funfact End-->

                        <!--Funfact Start-->
                        <div class="col-lg-6 col-md-3 col-6 mb-30">
                            <div class="funfact text-center">
                                <span class="icon"><i class="fa fa-money"></i></span>
                                <span class="number">$<span class="counter">5000</span>k</span>
                                <h6 class="title">MONEY PAID</h6>
                            </div>
                        </div>
                        <!--Funfact End-->

                        <!--Funfact Start-->
                        <div class="col-lg-6 col-md-3 col-6 mb-30">
                            <div class="funfact text-center">
                                <span class="icon"><i class="fa fa-university"></i></span>
                                <span class="number"><span class="counter">98</span>%</span>
                                <h6 class="title">SUCCESSFUL CASE</h6>
                            </div>
                        </div>
                        <!--Funfact End-->

                        <!--Funfact Start-->
                        <div class="col-lg-6 col-md-3 col-6 mb-30">
                            <div class="funfact text-center">
                                <span class="icon"><i class="fa fa-lock"></i></span>
                                <span class="number"><span class="counter">52170</span></span>
                                <h6 class="title">CASE CLOSED</h6>
                            </div>
                        </div>
                        <!--Funfact End-->

                    </div>
                </div>
                <!--Funfact Section End-->

                <!--News Section Start-->
                <div class="col-lg-6 col-12 section-padding home-news-wrap border-left">

                    <div class="section-title">
                        <h2 class="title">NEWS UPDATES</h2>
                    </div>

                    <div class="row no-gutters mbn-30">

                        <!--About Feature (News/Blog) Start-->
                        <div class="col-sm-6 col-12">
                            <div class="news2">
                                <div class="inner">

                                    <div class="news2-media">
                                        <div class="image"><img src="{% static 'assets/images/news/news-3.jpg' %}" alt=""></div>
                                        <a href="news-details" class="read-more">read more</a>
                                        <a href="news-details" class="external-link"><i class="fa fa-external-link"></i></a>
                                    </div>

                                    <div class="news2-content">
                                        <h3 class="title h3"><a href="news-details">EB-5 Legislation Pending</a></h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--About Feature (News2/Blog) End-->

                        <!--About Feature (News/Blog) Start-->
                        <div class="col-sm-6 col-12">
                            <div class="news2">
                                <div class="inner">

                                    <div class="news2-media">
                                        <div class="image"><img src="{% static 'assets/images/news/news-4.jpg' %}" alt=""></div>
                                        <a href="news-details" class="read-more">read more</a>
                                        <a href="news-details" class="external-link"><i class="fa fa-external-link"></i></a>
                                    </div>

                                    <div class="news2-content">
                                        <h3 class="title h3"><a href="news-details">Personal Injury Case Settled</a></h3>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--About Feature (News2/Blog) End-->

                    </div>
                </div>
                <!--News Section End-->

            </div>
        </div>
        <!--Funfact & News Section End-->

        <div class="newsletter-socail-section section" data-bg-image="{% static 'assets/images/bg/newsletter-bg.png">
            <div class="container">
                <div class="row justify-content-between align-items-center mbn-30">

                    <!--Newsletter Start-->
                    <div class="col-lg-auto col-12 mb-30">
                        <div class="newsletter-form">
                            <form id="mc-form" class="mc-form">
                                <input id="mc-email" autocomplete="off" type="email" placeholder="Enter your e-mail address">
                                <input id="mc-submit" class="btn btn-primary" type="submit" value="SUBSCRIBE">
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success text-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error text-danger"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->
                        </div>
                    </div>
                    <!--Newsletter End-->

                    <!--Social Start-->
                    <div class="d-flex flex-wrap align-items-center col-lg-auto col-12 mb-25">

                        <h3 class="text-white text-uppercase mr-3 mb-0 mb-5 mb-sm-0">Social</h3>
                        <div class="footer-top-socail mb-5 mb-sm-0">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-vimeo"></i></a>
                        </div>
                    </div>
                    <!--Social End-->

                </div>
            </div>
        </div>

        <!--Footer Section Start-->
        <div class="footer-section section">
            <div class="container">
                <div class="footer-widget-area row">

                    <!--Footer Widget Start-->
                    <div class="footer-widget col-lg-3 col-md-6 col-12">
                        <h4 class="footer-widget-title">ABOUT US</h4>
                        <div class="footer-widget-text">
                            <p>The Lawyer Attorneys Firm is a general practice firm that has served individuals and business for over twenty years.</p>
                            <p>We are dedicated lawyers who work efficiently and hard to provide you the best law service.</p>
                        </div>
                    </div>
                    <!--Footer Widget End-->

                    <!--Footer Widget Start-->
                    <div class="footer-widget col-lg-3 col-md-6 col-12">
                        <h4 class="footer-widget-title">EXPLORE OUR SITE</h4>
                        <ul class="footer-widget-link">
                            
                            <li><a href="case-results">Case Results</a></li>
                            <li><a href="http://localhost:8000/about">Our Firm</a></li>
                            <li><a href="careers">Careers</a></li>
                            <li><a href="http://localhost:8000/faq">F.A.Q</a></li>
                            <li><a href="http://localhost:8000/contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <!--Footer Widget End-->

                    <!--Footer Widget Start-->
                    <div class="footer-widget col-lg-3 col-md-6 col-12">
                        <h4 class="footer-widget-title">KEEP IN TOUCH</h4>
                        <div class="footer-widget-text">
                            <p><i class="fa fa-map-marker"></i> 14 Tottenham Road, London, England.</p>
                            <p><i class="fa fa-phone"></i> (102) 6666 8888</p>
                            <p><i class="fa fa-envelope"></i> <a href="mailto:info@demo.com">info@demo.com</a></p>
                            <p><i class="fa fa-fax"></i> (102) 8888 9999</p>
                            <p><i class="fa fa-clock-o"></i> Mon - Sat: 9:00 - 18:00</p>
                        </div>
                    </div>
                    <!--Footer Widget End-->

                    <!--Footer Widget Start-->
                    <div class="footer-widget col-lg-3 col-md-6 col-12">
                        <h4 class="footer-widget-title">LATEST POSTS</h4>
                        <ul class="footer-widget-link">
                            <li><a href="news-details">EB-5 Legislation Pending</a></li>
                            <li><a href="news-details">Personal Injury Case Settled</a></li>
                            <li><a href="news-details">3 Year Old Injured In Restaurant</a></li>
                            <li><a href="news-details">Audio Post</a></li>
                            <li><a href="news-details">A Link Post</a></li>
                            <li><a href="news-details">A Quote Post</a></li>
                        </ul>
                    </div>
                    <!--Footer Widget End-->

                </div>
            </div>
        </div>
        <!--Footer Section End-->

        <!--Copyright Section Start-->
        <div class="copyright-section section">
            <div class="container">
                <div class="row justify-content-between">

                    <!--Left Start-->
                    <div class="copyright-content text-center col-lg-auto col-12">
                        <p>Made by <a href="https://themeforest.net/user/bootxperts/portfolio">BootXperts</a></p>
                    </div>
                    <!--Left End-->

                    <!--Right Start-->
                    <div class="copyright-content text-center col-lg-auto col-12">
                        <p>&copy; Copyrights <span class="text-primary">Edwards</span>, Inc. All rights reserved.</p>
                    </div>
                    <!--Right End-->

                </div>
            </div>
        </div>
        <!--Copyright Section End-->


    </div>

    {% endblock %}


 