{% extends "base.html"%}
{% block body %} 
{% load static %}


<div class="main-wrapper">

    <!--Header Section Start-->
    <div class="header-section d-none d-lg-block">

        <!--Header Top Start-->
        <div class="header-top">
            <div class="container">
                <div class="row">

                    <!--Left Start-->
                    <div class="col-lg-6">
                        <div class="header-top-left">
                            <div class="header-top-left-info">
                                <p><i class="fa fa-envelope-o"></i><a href="mailto:contact@yoursite.com">contact@yoursite.com</a></p>
                                <p><i class="fa fa-phone"></i><a href="#">1.800.123.4569</a></p>
                            </div>
                        </div>
                    </div>
                    <!--Left End-->

                    <!--Right Start-->
                    <div class="col-lg-6">
                        <div class="header-top-right">
                            <p class="header-top-right-text">Add an interesting message for your visitors</p>
                            <a href="{% url 'cart' %}" class="header-top-right-cart">
                                <i class="ion-bag" data-count="2"></i> $43.00
                            </a>
                        </div>
                    </div>
                    <!--Right End-->

                </div>
            </div>
        </div>
        <!--Header Top End-->

        <!--Header Middle Start-->
        <div class="header-middle">
            <div class="row no-gutters">

                <!--Left Start-->
                <div class="header-middle-left col-auto">
                    <div class="header-middle-social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-vimeo"></i></a>
                    </div>
                </div>
                <!--Left End-->

                <!--Center Start-->
                <div class="header-middle-center col">
                    <div class="header-logo">
                        <a href="{% url 'home' %}"><img src="{% static 'assets/images/logo/logo_1.png' %}" alt="Lawyer Attorneys"></a>
                    </div>
                </div>
                <!--Center End-->

                <!--Right Start-->
                <div class="header-middle-right col-auto">
                    <div class="header-middle-free-case">
                        <a href="{% url 'contact' %}"><i class="pe-7s-culture"></i>FREE CASE EVALUATION</a>
                    </div>
                </div>
                <!--Right End-->

            </div>
        </div>
        <!--Header Middle End-->

        <!--Header Bottom Start-->
        <div class="header-bottom">
            <div class="container">
                <div class="row">

                    <!--Left Start-->
                    <div class="col">
                        <div class="primary-menu">
                            <nav>
                                <ul>
                                    <li class="menu-item-has-children"><a href="{% url 'home' %}">Home</a>
                                        
                                    </li>
                                    
                                   
                                    <li class="menu-item-has-children"><a href="#">Our Firm</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'attorneys' %}">Attorneys</a></li>
                                            
                                        </ul>
                                    </li>
                                    
                                    <li class="menu-item-has-children"><a href="{% url 'shop' %}">Shop</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'shop' %}">Shop</a></li>
                                            <li><a href="{% url 'productdetail' %}">Product Details</a></li>
                                            <li><a href="{% url 'cart' %}">Shopping Cart</a></li>
                                            
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><a href="#">Pages</a>
                                        <ul class="sub-menu">
                                            <li><a href="{% url 'about' %}">About us</a></li>
                                            <li><a href="{% url 'contact' %}">Contact us 1</a></li>
                                            <li><a href="{% url 'faq' %}">F.A.Q</a></li>
                                            
                                        </ul>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!--Left End-->

                    <!--Right Start-->
                    <div class="col-auto">
                        <button class="header-bottom-search-toggle header-search-toggle" data-target="#fullscreen-search-overlay"><i class="fa fa-search"></i></button>
                    </div>
                    <!--Right End-->

                </div>
            </div>
        </div>
        <!--Header Bottom End-->

    </div>
    <!--Header Section End-->

      

       <!--Offcanvas Section Start-->
      <div id="offcanvas" class="offcanvas-section">
        <button class="offcanvas-close" data-target="#offcanvas">&times;</button>
        <div class="offcanvas-wrap">
            <div class="inner">

                <div class="offcanvas-menu">
                    <nav>
                        <ul>
                            <li class="menu-item-has-children"><a href="{% url 'home' %}">Home</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'home' %}">Homepage 01</a></li>
                                    <li><a href="index-2.html">Homepage 02</a></li>
                                    <li><a href="index-3.html">Homepage 03</a></li>
                                    <li><a href="index-4.html">Homepage 04</a></li>
                                    <li><a href="index-5.html">Homepage 05</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="practice-areas-1.html">Practice Areas</a>
                                <ul class="sub-menu">
                                    <li><a href="practice-areas-1.html">Practice Areas 01</a></li>
                                    <li><a href="practice-areas-2.html">Practice Areas 02</a></li>
                                    <li><a href="practice-areas-3.html">Practice Areas 03</a></li>
                                    <li><a href="practice-areas-4.html">Practice Areas 04</a></li>
                                    <li><a href="practice-bank-financial.html">Bank & Financial</a></li>
                                    <li><a href="practice-capital-market.html">Capital Market</a></li>
                                    <li><a href="practice-car-accident.html">Car Accident</a></li>
                                    <li><a href="practice-corporate.html">Corporate</a></li>
                                    <li><a href="practice-employment-law.html">Employment Law</a></li>
                                    <li><a href="practice-family-law.html">Family Law</a></li>
                                    <li><a href="practice-personal-injury.html">Personal Injury</a></li>
                                </ul>
                            </li>
                            <li><a href="case-results.html">Case Results</a></li>
                            <li class="menu-item-has-children"><a href="#">Our Firm</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'attorneys' %}">Attorneys</a></li>
                                    <li><a href="{% url 'singleattorney' %}">Single Attorney</a></li>
                                    <li><a href="honnors-and-awards.html">Honnors And Awards</a></li>
                                    <li><a href="careers.html">Careers</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="news.html">Legal News</a>
                                <ul class="sub-menu">
                                    <li><a href="news.html">News</a></li>
                                    <li><a href="news-2-column.html">News Two Columns</a></li>
                                    <li><a href="news-details.html">News Details</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="{% url 'shop' %}">Shop</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'shop' %}">Shop</a></li>
                                    <li><a href="shop-2-column.html">Shop 2 Column</a></li>
                                    <li><a href="{% url 'productdetail' %}">Product Details</a></li>
                                    <li><a href="{% url 'cart' %}">Shopping Cart</a></li>
                                    <li><a href="checkout.html">Checkout</a></li>
                                    <li><a href="login-register.html">Login & Register</a></li>
                                    <li><a href="my-account.html">My Account</a></li>
                                    <li><a href="wishlist.html">Wishlist</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="#">Pages</a>
                                <ul class="sub-menu">
                                    <li><a href="{% url 'about' %}">About us</a></li>
                                    <li><a href="{% url 'contact' %}">Contact us 1</a></li>
                                    <li><a href="contact-us-2.html">Contact us 2</a></li>
                                    <li><a href="{% url 'faq' %}">F.A.Q</a></li>
                                    <li><a href="gallery.html">Gallery</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>

                <div class="offcanvas-info mt-auto">
                    <p><i class="fa fa-envelope-o"></i><a href="mailto:ebulzade@inbox.ru">Send mail to me</a></p>
                    <p><i class="fa fa-phone"></i><a href="#">1.800.123.4569</a></p>
                </div>
                <div class="offcanvas-social">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-google-plus"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-youtube-play"></i></a>
                    <a href="#"><i class="fa fa-vimeo"></i></a>
                </div>

            </div>
        </div>
    </div>
    <!--Offcanvas Section End-->
        <!--OffCanvas Overlay-->
        <div class="offcanvas-overlay"></div>

        <!--Fullscreen Search Overlay Start-->
        <div id="fullscreen-search-overlay">
            <div id="fullscreen-search-form">
                <button class="fullscreen-search-close" data-target="#fullscreen-search-overlay"><i class="fa fa-close"></i></button>
                <form action="#">
                    <input type="text" placeholder="Search...">
                </form>
                <p class="search-note">* Type a keyword then press Enter</p>
            </div>
        </div>
        <!--Fullscreen Search Overlay End-->

        <!-- Page Banner Section Start -->
        <div class="page-banner-section section">
            <div class="container">

                <!--Page Title Container Start-->
                {% for attorney in singleattorney %}
                <div class="page-title-container">
                    <div class="inner">

                        <h1 class="page-title">{{attorney.name}} {{attorney.surname}}</h1>
                        <ul class="page-breadcrumb">
                            <li><a href="{% url 'home' %}">Home</a></li>
                            <li><a href="{% url 'attorneys' %}">Attorneys</a></li>
                            <li>{{attorney.name}} {{attorney.surname}}</li>
                        </ul>

                    </div>
                </div>
                <!--Page Title Container End-->

            </div>
        </div><!-- Page Banner Section End -->

        <!--Single Attorney(Team) Section Start-->
        
        <div class="section">
            <div class="row no-gutters">

                <!--Team Image Start-->
                <div class="single-team-image col-lg-6 col-12">
                    <img src="{{ attorney.image.url }}" alt="">
                </div>
                <!--Team Image End-->

                <!--Team Content Start-->
                <div class="single-team-content col-lg-6 col-12">
                    <h1 class="name">{{attorney.name}} {{attorney.surname}}</h1>
                    <span class="title">{{attorney.absolutejob}}</span>
                    <div class="desc">
                        <p>{{attorney.biography}}</p>
                    </div>
                    <div class="single-team-socail">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                        <a href="#"><i class="fa fa-vimeo"></i></a>
                    </div>
                    <div class="single-team-contact">
                        <h4 class="widget-title">Contact Me</h4>
                        <ul>
                            <li><i class="fa fa-phone"></i> 1.800.123.4569</li>
                            <li><i class="fa fa-envelope-o"></i> contact@yoursite.com</li>
                        </ul>
                    </div>
                </div>
                <!--Team Content End-->

            </div>
        </div>
        <!--Single Attorney(Team) Section End-->

     {% endfor %}

        <!--Single Attorney(Team) Skill Section Start-->
        <div class="single-team-skill-section section section-padding">
            <div class="container">
                <div class="row">

                    <!--Section Title Start-->
                    <div class="col-12">
                        <div class="section-title">
                            <h2 class="title">MY STATISTIC</h2>
                        </div>
                    </div>
                    <!--Section Title End-->

                    <!--Skill Wrap Start-->
                    <div class="col-12">

                        <!--Skill Start-->
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" style="width: 90%;"></div>
                            </div>
                            <div class="text">Development <span class="value">90%</span></div>
                        </div>
                        <!--Skill End-->

                        <!--Skill Start-->
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" style="width: 100%;"></div>
                            </div>
                            <div class="text">Banking & Financial <span class="value">100%</span></div>
                        </div>
                        <!--Skill End-->

                        <!--Skill Start-->
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" style="width: 75%;"></div>
                            </div>
                            <div class="text">Family Law <span class="value">75%</span></div>
                        </div>
                        <!--Skill End-->

                        <!--Skill Start-->
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" style="width: 100%;"></div>
                            </div>
                            <div class="text">Real Estate <span class="value">100%</span></div>
                        </div>
                        <!--Skill End-->

                        <!--Skill Start-->
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" style="width: 80%;"></div>
                            </div>
                            <div class="text">Marketing <span class="value">80%</span></div>
                        </div>
                        <!--Skill End-->

                        <!--Skill Start-->
                        <div class="skill">
                            <div class="progress">
                                <div class="progress-bar" style="width: 100%;"></div>
                            </div>
                            <div class="text">Sale <span class="value">100%</span></div>
                        </div>
                        <!--Skill End-->

                    </div>
                    <!--Skill Wrap End-->

                </div>
            </div>
        </div>
        <!--Single Attorney(Team) Skill Section End-->

        <div class="newsletter-socail-section section" data-bg-image="assets/images/bg/newsletter-bg.png">
            <div class="container">
                <div class="row justify-content-between align-items-center mbn-30">

                    <!--Newsletter Start-->
                    <div class="col-lg-auto col-12 mb-30">
                        <div class="newsletter-form">
                            <form id="mc-form" class="mc-form">
                                <input id="mc-email" autocomplete="off" type="email" placeholder="Enter your e-mail address">
                                <input id="mc-submit" class="btn btn-primary" type="submit" value="SUBSCRIBE">
                            </form>
                            <!-- mailchimp-alerts Start -->
                            <div class="mailchimp-alerts text-centre">
                                <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                                <div class="mailchimp-success text-success"></div><!-- mailchimp-success end -->
                                <div class="mailchimp-error text-danger"></div><!-- mailchimp-error end -->
                            </div><!-- mailchimp-alerts end -->
                        </div>
                    </div>
                    <!--Newsletter End-->

                    <!--Social Start-->
                    <div class="d-flex flex-wrap align-items-center col-lg-auto col-12 mb-25">

                        <h3 class="text-white text-uppercase mr-3 mb-0 mb-5 mb-sm-0">Social</h3>
                        <div class="footer-top-socail mb-5 mb-sm-0">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-youtube-play"></i></a>
                            <a href="#"><i class="fa fa-vimeo"></i></a>
                        </div>
                    </div>
                    <!--Social End-->

                </div>
            </div>
        </div>

        <!--Footer Section Start-->
        <div class="footer-section section">
            <div class="container">
                <div class="footer-widget-area row">

                    <!--Footer Widget Start-->
                    <div class="footer-widget col-lg-3 col-md-6 col-12">
                        <h4 class="footer-widget-title">ABOUT US</h4>
                        <div class="footer-widget-text">
                            <p>The Lawyer Attorneys Firm is a general practice firm that has served individuals and business for over twenty years.</p>
                            <p>We are dedicated lawyers who work efficiently and hard to provide you the best law service.</p>
                        </div>
                    </div>
                    <!--Footer Widget End-->

                    <!--Footer Widget Start-->
                    <div class="footer-widget col-lg-3 col-md-6 col-12">
                        <h4 class="footer-widget-title">EXPLORE OUR SITE</h4>
                        <ul class="footer-widget-link">
                            <li><a href="practice-areas-1.html">Practice Areas</a></li>
                            <li><a href="case-results.html">Case Results</a></li>
                            <li><a href="{% url 'about' %}">Our Firm</a></li>
                            <li><a href="careers.html">Careers</a></li>
                            <li><a href="{% url 'faq' %}">F.A.Q</a></li>
                            <li><a href="{% url 'contact' %}">Contact Us</a></li>
                        </ul>
                    </div>
                    <!--Footer Widget End-->

                    <!--Footer Widget Start-->
                    <div class="footer-widget col-lg-3 col-md-6 col-12">
                        <h4 class="footer-widget-title">KEEP IN TOUCH</h4>
                        <div class="footer-widget-text">
                            <p><i class="fa fa-map-marker"></i> Azerbaijan, Baku</p>
                            <p><i class="fa fa-phone"></i> 070-852-74-90</p>
                            <p><i class="fa fa-envelope"></i> <a href="ebulzade@inbox.ru">ebulzade@inbox.ru</a></p>
                            <p><i class="fa fa-clock-o"></i> Mon - Sat: 9:00 - 18:00</p>
                        </div>
                    </div>
                    <!--Footer Widget End-->

                    <!--Footer Widget Start-->
                    <div class="footer-widget col-lg-3 col-md-6 col-12">
                        <h4 class="footer-widget-title">LATEST POSTS</h4>
                        <ul class="footer-widget-link">
                            <li><a href="news-details.html">EB-5 Legislation Pending</a></li>
                            <li><a href="news-details.html">Personal Injury Case Settled</a></li>
                            <li><a href="news-details.html">3 Year Old Injured In Restaurant</a></li>
                            <li><a href="news-details.html">Audio Post</a></li>
                            <li><a href="news-details.html">A Link Post</a></li>
                            <li><a href="news-details.html">A Quote Post</a></li>
                        </ul>
                    </div>
                    <!--Footer Widget End-->

                </div>
            </div>
        </div>
        <!--Footer Section End-->

        <!--Copyright Section Start-->
        <div class="copyright-section section">
            <div class="container">
                <div class="row justify-content-between">

                    <!--Left Start-->
                    <div class="copyright-content text-center col-lg-auto col-12">
                        <p>Made by <a href="https://themeforest.net/user/bootxperts/portfolio">BootXperts</a></p>
                    </div>
                    <!--Left End-->

                    <!--Right Start-->
                    <div class="copyright-content text-center col-lg-auto col-12">
                        <p>&copy; Copyrights <span class="text-primary">Edwards</span>, Inc. All rights reserved.</p>
                    </div>
                    <!--Right End-->

                </div>
            </div>
        </div>
        <!--Copyright Section End-->


    </div>

 {% endblock %}